@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
      url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
      url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
      url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff2') format('woff2'),
      url('../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --clr-text-basic: #000000;
  --clr-text-alt: #ffffff;
  --clr-bg-alt: #363636;
  --clr-special: #F7E296;
  --clr-special-dark: #F0C52E;
  --clr-basic-grey-light: #E5E5E5;
  --clr-basic-grey-dark: #DCDCDC;
}


/* common */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: var(--clr-text-basic);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

h1 {
  margin-top: 44px;
}

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.title-wide {
  letter-spacing: 0.2em;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: none;
  position: relative;
  cursor: pointer;
  padding: 6px 0;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  height: 4px;
  width: 100%;
  background: var(--clr-special-dark);
  position: absolute;
  left: 0;
  z-index: -1;
  transition: height 0.3s, width 0.3s, background-color 0.3s;
  top: 50%;
}

.button::after {
  top: 50%;
  transform: rotate(180deg);
  transform-origin: 50% 0%;
}

.button:hover::before,
.button:hover::after {
  height: 20px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.container-inner {
  padding: 0 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clickable:hover {
  opacity: 0.6;
}

.clickable:active {
  opacity: 0.3;
}

/* header */

.header {
  padding-top: 40px;
}

.header-container-inner {
  background-color: var(--clr-special);
  padding-bottom: 48px;
}

.index .header-container-inner {
  padding-bottom: 159px;
}

.header .container {
  background-color: var(--clr-special);
}

.header-logo {
  position: relative;
  top: -20px;
}

.header-actions {
  display: flex;
  margin-top: -13px;
}

.header-actions > * {
  width: 50%;
}

.header-search-form {
  display: flex;
}

.header-search-input {
  background: none;
  background: url("../img/dec/search.svg") 0 50% no-repeat;
  padding-left: 36px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 2px solid transparent;
}

.header-search-input:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.header-search-input::placeholder {
  color: black;
  opacity: 0.3;
}

.header-search-input:hover::placeholder {
  opacity: 0.6;
}

.header-search-input:focus::placeholder {
  opacity: 1;
}

.header-search-button {
  display: none;
  background: none;
  border: 2px solid black;
  margin-left: -3px;
  padding-left: 18px;
  padding-right: 18px;
}

.header-search-input:focus + .header-search-button,
.header-search-button:active,
.header-search-button:focus {
  display: inline-block;
}

.header-search-button:hover {
  background: black;
  color: white;
}

.header-search-button:active {
  color:rgba(255, 255, 255, 0.3);
  outline: none;
}

.header-action_buttons {
  margin-top: 10px;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;
}

.header-action_buttons a {
  padding-left: 25px;
}

.header-action_buttons li {
  background-position: center left;
  background-repeat: no-repeat;
}

.header-action-login {
  flex-grow: 1;
}
.header-action-compare {
  margin-right: 7.5%;
}

.header-action-login {
  background-image: url("../img/dec/man.svg");
}

.header-action-compare {
  background-image: url("../img/dec/diagram.svg");
}

.header-action-basket {
  background-image: url("../img/dec/basket.svg");
}

.header-username {
  padding-left: 25px;
  margin-right: -5px;
}

.header-logout {
  opacity: 0.3;
}

.header-logout:hover {
  opacity: 0.6;
}

.header-logout:active {
  opacity: 1;
}

.header-links {
  margin-top: 29px;
}

.header-navigation {
  display: flex;
  position: relative;
}

.header-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-catalog-list {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.header-catalog-title {
  margin-left: 60px;
  margin-right: auto;
}

.header-anchor-delivery {
  margin-right: 36px;
}

.header-anchor-services {
  margin-right: 107px;
}

.header-anchor-contacts {
  margin-right: 56px;
}

.header-subcatalog {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -60px;
  top: 25px;
  background-color: var(--clr-special);
  z-index: 1;
  width: 1160px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap:  8px 64px;
  padding-top: 27px;
  padding-bottom: 35px;
  padding-left: 60px;
  background-color: var(--clr-special)
}

.header-subcatalog-last {
  grid-column-start: 1;
}

.header-catalog-title {
  position: relative;
}

.header-catalog-title::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/dec/plus.svg") 50% 50% no-repeat;
  display: block;
  position: absolute;
  top: 6px;
  right: -32px;
  pointer-events: none;
}

.header-catalog-title a:hover ~ .header-subcatalog,
.header-catalog-title a:focus ~ .header-subcatalog,
.header-subcatalog:hover {
  opacity: 1;
  pointer-events: auto;
}

.header-subcatalog a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  font-size: 15px;
}



/* footer */
.footer {
  background: var(--clr-bg-alt);
  color: var(--clr-text-alt);
  padding-bottom: 65px;
}

.footer-box {
  position: relative;
}

.footer-box::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background: #FFC600;
  position: absolute;
  bottom: 13px;
  left: 20px;

}

.footer-logo {
  position: absolute;
  left: 20;
  top: 22px;
}

.footer-actions {
  margin-top: 43px;
}

.footer-actions-list {
  display: flex;
  justify-content: flex-end;
}

.footer-actions-list > * {
  margin-left: 40px;
}

.with-icon {
  padding-left: 25px;
  position: relative;
}

.with-icon::before {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 0;
  bottom: 2px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-login-alt::before {
  background-image: url("../img/dec/man_alt.svg");
}

.icon-compare-alt::before {
  background-image: url("../img/dec/diagram_alt.svg");
}

.icon-basket-alt::before {
  background-image: url("../img/dec/basket_alt.svg");
}

.footer-actions-list a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-actions a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-actions a:hover::before {
  opacity: 0.7;
}

.footer-actions a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-actions a:active::before {
  opacity: 0.3;
}

.footer-logout-item {
  margin-left: 23px;
  margin-right: -1px;
}

.footer-info {
  display: flex;
  margin-top: 65px;
}

.footer-info p {
  margin-top: 0;
}

.footer-address {
  flex: 1;
}

.footer-links {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex: auto;
}

.footer-links li {
  margin: 0 17px;
}

.footer-links li:first-of-type {
  margin-left: 0;
}

.footer-links li:last-of-type {
  margin-right: 0;
}

.footer-phone {
  flex: 1;
  text-align: right;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer-social {
  display: flex;
  margin-top: 58px;
}

.footer-social a {
  font-size: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-social li:not(:first-of-type) {
  margin-left: 10px;
}

.footer-social li:not(:last-of-type) {
  margin-right: 10px;
}

.social-facebook {
  background-image: url("../img/dec/facebook.svg");
}
.social-instagram {
  background-image: url("../img/dec/insta.svg");
}
.social-twitter {
  background-image: url("../img/dec/twitter.svg");
}

.footer-creator {
  font-size: 0;
  margin-top: 63px;
  display: inline-block;
  width: 27px;
  height: 34px;
  background: url("../img/dec/htmlacademy.svg") center center no-repeat;
  position: absolute;
  right: 0;
}

/* common */


/* index page*/
/* slider */
.index main {
  margin-top: -129px;
}

.slider-list {
	list-style-type: none;
	counter-reset: li;
}

.slider-item {
  display: flex;
	position: relative;
}

.slider-item:not(.tab-current) {
  opacity: 1;
  position: absolute;
  left: -999%;
}

.slider-item:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
	color: white;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  position: absolute;
  top: 78px;
  right: -13px;
}

.slider-box {
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.slider-item > * {
  width: 50%;
}

.slider-item-image {
  text-align: center;
  min-height: 500px;

}

.slider-item-image img {
  position: relative;
}

.slider-image-fix-1 {
  left: -39px;
}

.slider-image-fix-2 {
  top: 25px;
  left: -30px;
}

.slider-image-fix-3 {
  top: 83px;
  left: -35px;
}

.slider-item-info {
  padding-left: 20px;
  padding-top: 46px;
  position: relative;
}

.slider-item-info::before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  position: absolute;
  left: 20px;
  top: 34px;
  background: white;
}

.slider-item-description {
  line-height: 20px;
  margin-top: 27px;
  padding-right: 15px;
}

.slider-item-params {
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.1em;
  font-size: 36px;
}

.slider-item-button {
  width: 220px;
  margin-top: 50px;
}

.slider-item-params {
  margin-top: 55px;
}

.slider-item-params td {
  padding-right: 56px;
}
.slider-item-params td:last-of-type {
  padding-right: 0px;
}

.slider-item-params th {
  font-size: 13px;
  font-weight: 300;
  padding-top: 13px;

}

.slider-buttons-box {
  position: absolute;
  right: 81px;
  bottom: 134px;
}

.slider-button {
  font-size: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 100%;
  background: none;
  position: relative;
  margin: 7px;
}

.slider-buttons-box .tab-current::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 2px;
  left: 2px;
}



/* popular */
.popular {
  margin-top: 106px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
}

.popular-list a {
  display: inline-block;
  position: relative;
}

.popular-list a::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--clr-special);
  margin-bottom: 38px;
}

.popular-list a:hover::before {
  background-color: var(--clr-special-dark);
}

.popular-list a::after {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: var(--clr-special-dark);
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.popular-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-list a:active::after {
  opacity: 0.7;
}

.popular-vr:before {
  background-image: url("../img/content/index/popular-1.svg");
}

.popular-monopods:before {
  background-image: url("../img/content/index/popular-2.svg");
}

.popular-camera:before {
  background-image: url("../img/content/index/popular-3.svg");
}

.popular-brace:before {
  background-image: url("../img/content/index/popular-4.svg");
}

.popular-clock:before {
  background-image: url("../img/content/index/popular-5.svg");
}

.popular-quadro:before {
  background-image: url("../img/content/index/popular-6.svg");
}

.popular-list li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

/* services */
.services {
  background: var(--clr-basic-grey-light);
  padding-top: 100px;
  padding-bottom: 68px;
  margin-top: 185px;
}

.services-box {
  display: flex;
  margin-top: -200px;
}

.services-box > * {
  width: 100%;
}

.services-buttons {
  max-width: 400px;
  display: flex;
}

.services-buttons-list {
  width: 100%;
  max-width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 7px solid var(--clr-text-basic); /*todo: исправить щель*/
  padding: 80px 0px;
  overflow-x: hidden;
}

.services-buttons-list li {
  margin-bottom: 20px;
}

.services-buttons-list li:last-of-type {
  margin-bottom: 0;
}

.services-buttons-list button {
  width: 100%;
  max-width: 160px;
}

.services-buttons .tab-current {
  color: var(--clr-special);
  outline: none;
}

.services-buttons .tab-current::before,
.services-buttons .tab-current::after {
  left: 0;
  height: 20px;
  background: black;
  width: 300px;
}

.services-list {
  margin-top: 23px;
}

.services-list p {
  line-height: 30px;
  padding-right: 200px;
  margin-top: 40px;
  letter-spacing: 0.1em;
}

.services-list li {
  display: none;
}

.services-list li.tab-current {
  display: block;
}

/* partners */
.partners-list {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.partners-list li {
  filter: grayscale(100%);
}

.partners-list li:hover {
  filter: grayscale(0%);
}


.services-list li {
  background: url("../img/content/index/services-1.svg") 100% 0px no-repeat;
}

.services-list li:nth-of-type(2) {
  background-image: url("../img/content/index/services-2.svg");
}

.services-list li:nth-of-type(3) {
  background-image: url("../img/content/index/services-3.svg");
}


/* company_info */
.company_info {
  display: flex;
  margin-top: 80px;
  padding-bottom: 77px;
}

.company_info .button {
  width: 260px;
}

.company_info > section {
  width: 50%;
  position: relative;
}

.company_info > section:before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background: black;
  position: absolute;
  top: 0;
}

.company_info h2 {
  margin-top: 56px;
}

.company_info p {
  line-height: 28px;
  margin-top: 40px;
}


/* about us */
.about_us {
  padding-right: 105px;
}

.about_us::before {
  left: 0px;
}

.about_us-examples {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-top: 60px;
}

.about_us-examples li {
  line-height: 28px;
  margin-top: 15px;
  padding-left: 30px;
  position: relative;
}

.about_us-examples li:first-of-type {
  margin-top: 0;
}

.about_us-examples li::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  border-radius: 100%;
  border: 2px solid #E5E5E5;
}

.about_us-button {
  margin-top: 70px;
}




/* contacts */
.contacts {
  padding-left: 20px;
}

.contacts::before {
  left: 20px;
}

.contacts-map {
  margin-top: 40px;
}

.contacts-map img {
  cursor: pointer;
}

.contacts-button {
  margin-top: 70px;
}


/* modal feedback */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-show {
  display: flex;
}

.modal-box {
  width: 100%;
  max-width: 960px;
  background: white;
  position: relative;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-close {
  font-size: 0;
  width: 55px;
  height: 55px;
  background: var(--clr-special);
  opacity: 0.5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-close::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/dec/cross.svg") center center no-repeat;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
  outline: none;
}

.modal-submit {
  margin-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
}

.modal-submit::before,
.modal-submit::after {
  background-color: var(--clr-special);
}

.feedback-modal-box {
  padding: 65px 98px;
}


.feedback label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.feedback input,
.feedback textarea {
  font-size: 14px;
  line-height: 19px;
  background: #F2F2F2;
  padding: 15px 20px;
  margin-top: 10px;
  border: 2px solid #F2F2F2;
  color: rgba(0, 0, 0, 0.4);
}

.feedback input:hover,
.feedback textarea:hover {
  background: #EAEAEA;
  border: 2px solid #EAEAEA;
  color: rgba(0, 0, 0, 0.4);
}

.feedback input:focus,
.feedback textarea:focus {
  background: white;
  border: 2px solid var(--clr-special);
  outline: none;
  color: var(--clr-bg-alt);
}

.feedback input.invalid,
.feedback textarea.invalid {
  background: #F6DADA;
  border: #F6DADA;
  color: rgba(0, 0, 0, 0.4);
}

.form-row {
  display: flex;
}

.form-row > * {
  flex: 1;
}

.form-row > *:not(:first-of-type) {
  padding-left: 37px;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.modal-map {
  height: 540px;
}

.modal-map  iframe {
  width: 100%;
  height: 540px;
}

/* page catalog_item */
.breadcrumbs {
  display: flex;
  margin-top: 26px;
}

.breadcrumbs > * {
  margin-right: 36px;
}

.breadcrumbs a {
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs li:last-of-type {
  opacity: 0.3;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-of-type):before {
  content: "";
  display: block;
  width: 4px;
  height: 6px;
  position: absolute;
  right: -18px;
  top: 11px;
  background: url("../img/dec/next.svg") 50% 50% no-repeat;
}




.catalog {
  display: flex;
  margin-top: 45px;
}

.items {
  padding-bottom: 78px;
}

.filter h3,
.items-sorting h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter {
  max-width: 329px;
  width: 100%;
  position: relative;
  background: var(--clr-basic-grey-light);
}

.filter::before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100vw;
  top: 0;
  left: -100vw;
  background: var(--clr-basic-grey-light);
}

.filter-header {
  padding: 21px 60px;
  padding-right: 0;
  position: relative;
  background: var(--clr-basic-grey-dark);
}

.filter-header::before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100vw;
  top: 0;
  left: -100vw;
  background: var(--clr-basic-grey-dark);
}

.filter-header h3 {
  margin-top: 0;
}

.filter-body {
  padding-left: 58px;
  padding-right: 66px;
}

.filter fieldset {
  padding: 0;
  padding-top: 10px;
  border: none;
  border-top: 2px solid black;
}

.filter-form {
  margin-top: 70px;
}

.filter h4 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
}

.filter label {
  font-size: 14px;
  line-height: 19px;
}

.hide-price-fieldset label {
  font-size: 0;
}

.hide-price-fieldset input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
}

.price-range {
  margin-bottom: 50px;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
}

.price-range-filler {
  height: 2px;
  background: #91C92F;
  position: relative;
}

.range-control {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 8px solid white;
  background: #C4C4C4;
  position: absolute;
  top: calc(50% - 10px);
  cursor: grab;
}

.range-control.clicked {
  cursor: grabbing;
}

.price-range-grey-left,
.price-range-grey-right {
  height: 2px;
  background: #ccc;
  position: absolute;
}

.price-range-grey-right {
  right: 0;
}

.range-sublabel {
   white-space: nowrap;
   padding-top: 14px;
   display: inline-block;
   margin-left: -7px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.range-control-max .range-sublabel {
  margin-left: -25px;
}

.filter-colors {
  margin-top: 21px;
}

.filter-colors-list {
  margin-top: 20px;
}

.filter-colors-list li {
  margin: 11px 0;
}

.filter-colors li:first-of-type {
  margin-top: 0;
}


.filter-bluetooth {
  margin-top: 25px;
}

.filter-bluetooth-list {
  margin-top: 20px;
}

.filter-bluetooth-list li:not(:first-of-type) {
  margin-top: 12px;
}

.filter-form-submit {
  width: 100%;
  margin-top: 39px;
}

/* sorting */
.items {
  width: 100%;
}

.items-sorting {
  padding: 21px 71px;
  padding-right: 0;
  background: var(--clr-basic-grey-light);
  display: flex;
  position: relative;
}

.items-sorting h3 {
  margin: 0;
}

.items-sorting::before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100vw;
  top: 0;
  right: -100vw;
  background: var(--clr-basic-grey-light);
}

.sorting-types {
  margin-left: 74px;
  display: flex;
}

.sorting-types li:not(:last-of-type) {
  margin-right: 32px;
}

.sorting-types a {
  font-size: 14px;
  opacity: 0.3;
}

.sorting-types a:hover {
  opacity: 0.6;
}

.sorting-types a:active {
  opacity: 1;
}

.sorting-order {
  display: flex;
  margin-left: auto;
}

.sorting-order li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting-order a {
  font-size: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/dec/triangle.svg") 50% 50% no-repeat;
  opacity: 0.2;
}

.sorting-order a.current {
  opacity: 1;
}

.sorting-order a:hover,
.sorting-order a.current:hover {
  opacity: 0.4;
}

.sorting-order a:active,
.sorting-order a.current:active {
  opacity: 1;
}

.sorting-order-desc {
  transform: scaleY(-1);
  margin-left: 13px;
}

.items-section {
  padding-left: 70px;

}

.items-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin-top: 70px;
}

.item-card {
  max-width: 360px;
}

.item-image {
  position: relative;
  background: #eee;
}


.item-image img {
  width: 100%;
  display: block;
}

.item-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(238, 238, 238, 0.7);
}

.item-image:hover .item-hover {
  display: flex;
}

.item-image-new::before {
  content: "New";
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 62px;
  height: 62px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 30px;
  right: 26px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.button-to-basket {
  width: 200px;
}

.item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}


.item-price {
  font-weight: 300;
  font-size: 16px;
  white-space: nowrap;
}


.item-button-compare {
  font-size: 13px;
  letter-spacing: 0.1em;
  background: none;
}

.items-pagination {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 71px;
  margin-top: 41px;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-basic-grey-light);
}

.pagination-back a,
.pagination-forward a {
  padding: 21px 30px;
  display: inline-block;
}

.pagination-back a:hover,
.pagination-forward a:hover {
  background: #D9D9D9;
}

.pagination-back a:active,
.pagination-forward a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-back {
  margin-right: auto;
}

.pagination-forward {
  margin-left: auto;
}

.pagination-list li {
  opacity: 0.3;
}

.pagination-page {
  padding: 15px;
}

li.pagination-back,
li.pagination-current,
li.pagination-forward {
  opacity: 1;
}

/*checkbox*/
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 42px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
}

input[type="checkbox"] + label:hover::before {
  opacity: 0.6;
}

input[type="checkbox"] + label:active::before {
  opacity: 1;
}

input[type="checkbox"]:checked + label::before {
  background: url("/img/dec/check.svg") 50% 50% no-repeat;

}

input[type="checkbox"]:disabled + label,
input[type="checkbox"]:disabled + label::before {
  opacity: 0.3;
  cursor: not-allowed;
}


/* radio */
input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}

input[type="radio"] + label:hover::before {
  opacity: 0.6;
}

input[type="radio"] + label:active::before {
  opacity: 1;
}

input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: black;
  position: absolute;
  bottom: 5px;
  left: 8px;
}

input[type="radio"]:disabled + label,
input[type="radio"]:disabled + label::before {
  opacity: 0.3;
  cursor: not-allowed;
}


